In [135]:
import numpy as np
from scipy.optimize import fsolve
from scipy.stats import iqr
import pandas as pd
import sklearn.preprocessing as pre

%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
# There is a compatilibility issue with this library \
#and newer versions of Pandas, this is short fix to the problem, \
#if you have issues at this chunk comment it out and you should be fine.  
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr
#import pandas_datareader.wb as wb

## Factors
1. Macro fiscal and monetary balances have improved
2. Government debt costs have trended lower and foreign reserves have risen
3. Overall cost of capital has declined
4. Corporate valuations have improved relative to global peers
5. Real asset ZAR returns have compared favourably
6. China and African trade rise has largely offset European trade decline
7. Disposable income of South Africans has risen
8. The rise of the black middle class has led to a structural boost in spending
9. Wage inflation and government grants have supported this trend
10. Per unit labour productivity has improved

---

## Ores and metals imports (% of merchandise imports) - South Africa
Ores and metals imports (% of merchandise imports) - South Africa.

https://www.quandl.com/data/WWDI/ZAF_TM_VAL_MMTL_ZS_UN-Ores-and-metals-imports-of-merchandise-imports-South-Africa

In [70]:
data = pd.read_csv('ores_metal_imports.csv')
data.head()

         Date  ores_metal_imports
0  2017-12-31            2.126979
1  2016-12-31            2.247144
2  2015-12-31            2.239125
3  2014-12-31            1.739599
4  2013-12-31            1.692398

## Gold Price: London Fixing
Gold Price: London Fixings, London Bullion Market Association (LBMA). Fixing levels are set per troy ounce. The London Gold Fixing Companies set the prices for gold that are globally considered as the international standard for pricing of gold. The Gold price in London is set twice a day by five LBMA Market Makers who comprise the London Gold Market Fixing Limited (LGMFL). The process starts with the announcement from the Chairman of the LGMFL to the other members of the LBMA Market Makers, then relayed to the dealing rooms where customers can express their interest as buyers or sellers and also the quantity they wish to trade. The gold fixing price is then set by collating bids and offers until the supply and demand are matched. At this point the price is announced as the 'Fixed' price for gold and all business is conducted on the basis of that price.

https://www.quandl.com/data/LBMA/GOLD-Gold-Price-London-Fixing

In [57]:
data = pd.read_csv('gold.csv')
data.head()

         Time     gold
0  2019-12-31  1290.50
1  2018-12-31  1281.65
2  2017-12-31  1296.50
3  2016-12-31  1159.10
4  2015-12-31  1062.25

## Crop production (Wheat)
Crop production depends on the availability of arable land and is affected in particular by yields, macroeconomic uncertainty, as well as consumption patterns; it also has a great incidence on agricultural commodities' prices. The importance of crop production is related to harvested areas, returns per hectare (yields) and quantities produced. Crop yields are the harvested production per unit of harvested area for crop products. In most of the cases yield data are not recorded, but are obtained by dividing the production data by the data on area harvested. The actual yield that is captured on farm depends on several factors such as the crop's genetic potential, the amount of sunlight, water and nutrients absorbed by the crop, the presence of weeds and pests. This indicator is presented for wheat, maize, rice and soybean. Crop production is measured in tonnes per hectare, in thousand hectares and thousand tonnes.

https://data.oecd.org/agroutput/crop-production.htm

In [42]:
data = pd.read_csv('weat.csv')
data.head()

   time      weat
0  1990  1.093410
1  1991  1.491643
2  1992  1.765333
3  1993  1.845581
4  1994  1.755725

## Share prices
Share price indices are calculated from the prices of common shares of companies traded on national or foreign stock exchanges. They are usually determined by the stock exchange, using the closing daily values for the monthly data, and normally expressed as simple arithmetic averages of the daily data. A share price index measures how the value of the stocks in the index is changing, a share return index tells the investor what their “return” is, meaning how much money they would make as a result of investing in that basket of shares. A price index measures changes in the market capitalisation of the basket of shares in the index whereas a return index adds on to the price index the value of dividend payments, assuming they are re-invested in the same stocks. Occasionally agencies such as central banks will compile share indices.

https://data.oecd.org/price/share-prices.htm

In [39]:
data = pd.read_csv('share_prices.csv')
data.head()

   time  share_prices
0  1991      6.627704
1  1992      6.979475
2  1993      7.989237
3  1994     11.218600
4  1995     11.515680

In [38]:
data = data[data['LOCATION'] == 'ZAF'][['TIME', 'Value']]
data.columns = ['time', 'share_prices']
data.to_csv('share_prices.csv', index=False)

## Investment (GFCF)
Gross fixed capital formation (GFCF) is defined as the acquisition (including purchases of new or second-hand assets) and creation of assets by producers for their own use, minus disposals of produced fixed assets. The relevant assets relate to products that are intended for use in the production of other goods and services for a period of more than a year. The term "produced assets" means that only those assets that come into existence as a result of a production process recognised in the national accounts are included. This indicator is in million USD at current prices and PPPs, and in annual growth rates. All OECD countries compile their data according to the 2008 System of National Accounts (SNA).

https://data.oecd.org/gdp/investment-gfcf.htm

In [36]:
data = pd.read_csv('investment_gfcf.csv')
data.head()

   time  investment_gfcf
0  1989         6.504446
1  1990        -2.340718
2  1991        -7.388252
3  1992        -5.259896
4  1993        -0.554826

## Gross domestic product (GDP)
Gross domestic product (GDP) at market prices is the expenditure on final goods and services minus imports: final consumption expenditures, gross capital formation, and exports less imports. "Gross" signifies that no deduction has been made for the depreciation of machinery, buildings and other capital products used in production. "Domestic" means that it is production by the resident institutional units of the country. The products refer to final goods and services, that is, those that are purchased, imputed or otherwise, as: final consumption of households, non-profit institutions serving households and government; fixed assets; and exports (minus imports). GDP per capita data are measured in US dollars at current prices and PPPs. GDP data are measured in million US dollars at current prices and PPPs. Data are internationally comparable across countries for any single year. All OECD countries compile their data according to the 2008 System of National Accounts (SNA).

https://data.oecd.org/gdp/gross-domestic-product-gdp.htm

In [33]:
data = pd.read_csv('gdp.csv')
data.head()

   time          gdp
0  1989  6462.045029
1  1990  6512.332079
2  1991  6517.474653
3  1992  6384.322626
4  1993  6476.917933

## Current account balance
The current account balance of payments is a record of a country's international transactions with the rest of the world. The current account includes all the transactions (other than those in financial items) that involve economic values and occur between resident and non-resident entities. Also covered are offsets to current economic values provided or acquired without a quid pro quo. This indicator is measured in million USD and percentage of GDP.

https://data.oecd.org/trade/current-account-balance.htm

In [28]:
data = pd.read_csv('current_account_balance.csv')
data.head()

   time  current_account_balance
0  1991                 1.143593
1  1992                 1.459087
2  1993                 2.067917
3  1994                 0.011285
4  1995                -1.604050

## Exchange Rates (USD/ZAR)
Exchange rates are defined as the price of one country's' currency in relation to another. Exchange rates may be expressed as the average rate for a period of time or as the rate at the end of the period. Exchange rates are classified by the International Monetary Fund in three broad categories, reflecting the role of the authorities in the determination of the exchange rates and/or the multiplicity of exchange rates in a country: the market rate, in which the rate "floats" and is largely set by market forces; the official rate, in which the rate is "fixed" by a country's authorities; and arrangements falling between the two, in which the rate holds a stable value against another currency or a composite of currencies. This indicator is measured in terms of national currency per US dollar.

https://data.oecd.org/conversion/exchange-rates.htm

In [24]:
data = pd.read_csv('exchange_rate_2.csv')
data.head()

   time  exchange_rate
0  1988       2.273468
1  1989       2.622678
2  1990       2.587321
3  1991       2.761315
4  1992       2.852014

## Prime Energy
Primary energy supply is defined as energy production plus energy imports, minus energy exports, minus international bunkers, then plus or minus stock changes. The International Energy Agency (IEA) energy balance methodology is based on the calorific content of the energy commodities and a common unit of account: tonne of oil equivalent (toe). Toe is defined as 107 kilocalories (41.868 gigajoules). This quantity of energy is, within a few per cent, equal to the net heat content of one tonne of crude oil. The difference between the “net” and the “gross” calorific value for each fuel is the latent heat of vaporisation of the water produced during combustion of the fuel. For coal and oil, net calorific value is about 5% less than gross, for most forms of natural and manufactured gas the difference is 9-10%, while for electricity the concept of calorific has no meaning. The IEA calculates balances using the physical energy content method to find the primary energy equivalent. This indicator is measured in million toe and in toe per 1 000 USD.

https://data.oecd.org/energy/primary-energy-supply.htm

In [25]:
data = pd.read_csv('prime_energy.csv')
data.head()

   time  prime_energy
0  1990         0.251
1  1991         0.261
2  1992         0.254
3  1993         0.268
4  1994         0.272

## CPI (Inflation)
Inflation measured by consumer price index (CPI) is defined as the change in the prices of a basket of goods and services that are typically purchased by specific groups of households. Inflation is measured in terms of the annual growth rate and in index, 2015 base year with a breakdown for food, energy and total excluding food and energy. Inflation measures the erosion of living standards. A consumer price index is estimated as a series of summary measures of the period-to-period proportional change in the prices of a fixed set of consumer goods and services of constant quantity and characteristics, acquired, used or paid for by the reference population. Each summary measure is constructed as a weighted average of a large number of elementary aggregate indices. Each of the elementary aggregate indices is estimated using a sample of prices for a defined set of goods and services obtained in, or by residents of, a specific region from a given set of outlets or other sources of consumption goods and services.

https://data.oecd.org/price/inflation-cpi.htm

In [4]:
data = pd.read_csv('cpi.csv')
data.head()

      TIME     Value
0  1990-01  15.27378
1  1990-02  15.14286
2  1990-03  14.88764
3  1990-04  14.40443
4  1990-05  13.93443

## Long-term interest rates
Long-term interest rates refer to government bonds maturing in ten years. Rates are mainly determined by the price charged by the lender, the risk from the borrower and the fall in the capital value. Long-term interest rates are generally averages of daily rates, measured as a percentage. These interest rates are implied by the prices at which the government bonds are traded on financial markets, not the interest rates at which the loans were issued. In all cases, they refer to bonds whose capital repayment is guaranteed by governments. Long-term interest rates are one of the determinants of business investment. Low long-term interest rates encourage investment in new equipment and high interest rates discourage it. Investment is, in turn, a major source of economic growth.

https://data.oecd.org/interest/long-term-interest-rates.htm#indicator-chart

In [5]:
data = pd.read_csv('long_term_interest.csv')
data.head()

      TIME  Value
0  1989-11  16.92
1  1989-12  15.85
2  1990-01  15.49
3  1990-02  15.61
4  1990-03  15.66

## M3 Money Supply
Broad money (M3) includes currency, deposits with an agreed maturity of up to two years, deposits redeemable at notice of up to three months and repurchase agreements, money market fund shares/units and debt securities up to two years. M3 is measured as a seasonally adjusted index based on 2015=100

https://data.oecd.org/money/broad-money-m3.htm

In [6]:
data = pd.read_csv('m3_supply.csv')
data.head()

      TIME     Value
0  1991-02  5.836951
1  1991-03  5.975489
2  1991-04  6.003644
3  1991-05  6.117157
4  1991-06  6.195870

## Unemployment, total (% of total labor force) (modeled ILO estimate)
Unemployment refers to the share of the labor force that is without work but available for and seeking employment.

Source: https://databank.worldbank.org/data/reports.aspx?source=2&series=SL.UEM.TOTL.ZS#

In [71]:
unemployment = pd.read_csv('unemployment.csv')
unemployment.head()

   date  unemployment
0  1991     20.121000
1  1992     20.007000
2  1993     20.016001
3  1994     20.000000
4  1995     16.900000

---
# Concatenate data

In [72]:
import os

In [75]:
file_names = ['cpi.csv',
 'ores_metal_imports.csv',
 'gold.csv',
 'prime_energy.csv',
 'exchange_rate.csv',
 'share_prices.csv',
 'disposable_income.csv',
 'long_term_interest.csv',
 'm3_supply.csv',
 'unemployment.csv',
 'investment_gfcf.csv',
 'current_account_balance.csv',
 'gdp.csv']

In [89]:
store = []
for name in file_names:
    store.append(pd.read_csv(name, index_col=0))

In [91]:
data = pd.concat(store, axis=1)

In [95]:
# Subset by cutting out data with NaNs
data = data.iloc[3:-1, :]

In [98]:
data = data.drop('disposable_income', axis=1)

In [102]:
# Back fill data
data = data.bfill()

In [108]:
data

,cpi,ores_metal_imports,gold,prime_energy,exchange_rate,share_prices,long_term_interest_rate,m3,unemployment,investment_gfcf,current_account_balance,gdp
1991,16.371680,1.327146,353.40,0.261,2.761315,6.627704,16.66,6.364400,20.121000,-7.388252,1.143593,6517.474653
1992,9.505703,1.327146,332.90,0.254,2.852014,6.979475,14.90,6.916996,20.007000,-5.259896,1.459087,6384.322626
1993,9.548611,1.391855,390.65,0.268,3.267742,7.989237,12.34,7.359367,20.016001,-0.554826,2.067917,6476.917933
1994,9.825673,1.353298,382.50,0.272,3.550798,11.218600,16.80,8.439641,20.000000,8.247044,0.011285,6686.259293
1995,6.926407,1.981732,386.70,0.278,3.627085,11.515680,14.56,9.638271,16.900000,10.691169,-1.604050,6894.620731
1996,9.311741,1.492595,369.55,0.274,4.299349,13.894870,16.19,11.378340,21.000000,9.008265,-1.120971,7177.841419
1997,6.172840,1.381035,289.20,0.272,4.607962,14.375400,14.14,13.423290,22.900000,5.741871,-1.455053,7349.020224
1998,8.953488,1.452315,287.45,0.276,5.528284,13.600250,16.36,15.265440,25.000000,4.765285,-1.719886,7328.640600
1999,2.241195,1.742106,290.85,0.266,6.109484,14.364490,13.96,16.832220,25.370001,-7.595106,-0.497858,7482.181843
2000,6.993737,1.536700,272.65,0.259,6.939828,15.248590,12.88,17.771980,23.270000,3.865634,-0.125958,7838.632675
2001,4.585366,1.221793,276.50,0.244,8.609181,17.035700,11.63,20.633590,25.370001,2.849000,0.274238,8105.749293
2002,13.508420,1.657484,342.75,0.227,10.540747,19.897270,10.44,24.567730,27.180000,3.492434,0.901669,8327.474258
2003,-1.634509,1.992633,417.25,0.248,7.564749,17.157430,9.15,27.993660,27.120001,10.237263,-0.825840,8642.426981
2004,2.198900,1.959506,438.00,0.257,6.459693,21.266100,8.38,31.926300,24.670000,12.876908,-2.765899,9173.917364
2005,2.017115,1.842005,513.00,0.237,6.359328,28.467810,7.57,38.006870,23.840000,10.983761,-3.129266,9847.081746
2006,4.817256,2.354648,635.70,0.230,6.771549,40.956650,7.81,47.086740,22.620001,12.144598,-4.477155,10584.287717
2007,7.568309,2.509854,836.50,0.235,7.045365,54.493790,8.29,58.357040,22.330000,13.758712,-5.383258,11301.782307
2008,9.308293,2.775384,865.00,0.245,8.261223,51.854400,7.82,67.210130,22.430000,12.822517,-5.536724,11735.261451
2009,6.163328,1.312254,1104.00,0.252,8.473674,44.934490,9.03,67.807840,23.540001,-6.676750,-2.728268,11486.272598
2010,3.338171,1.715933,1410.25,0.230,7.321222,55.119710,8.38,72.429780,24.690001,-3.912252,-1.500865,11815.520098
2011,6.320225,1.872888,1574.50,0.227,7.261132,61.014830,8.51,77.966090,24.650000,5.538843,-2.218784,12234.129622
2012,5.812418,1.867454,1664.00,0.213,8.209969,67.733630,7.37,82.646610,24.730000,2.604709,-5.144409,12600.212910
2013,5.243446,1.692398,1201.50,0.206,9.655056,80.607220,8.32,87.870840,24.570000,7.185083,-5.785927,12929.432503
2014,5.338078,1.739599,1199.25,0.215,10.852656,94.833720,7.84,94.643330,24.900000,0.697160,-5.082751,13203.670608
2015,5.180180,2.239125,1062.25,0.203,12.758931,100.000000,9.34,103.883500,25.160000,3.431222,-4.601489,13310.704404
2016,7.066381,2.247144,1159.10,0.209,14.709611,99.239600,8.95,109.461400,26.549999,-4.109696,-2.779756,13344.817816

Take the log returns of the following features:
* Gold
* Exchange Rate
* Share Prices
* Long term interest rates
* M3 Money supply
* Unemployment
* GDP

Apply Min Max Scaling to these:
* CPI
* Ores & metals
* Prime Energy
* Investment_gfcf
* Current_account_balance

In [115]:
log_names = [' gold', 'exchange_rate', 'share_prices', 'long_term_interest_rate', 'm3', 'unemployment','gdp']
other_names = ['current_account_balance', 'cpi', 'ores_metal_imports', 'prime_energy', 'investment_gfcf', 'current_account_balance']

In [118]:
logged_data = np.log(data[log_names]) - np.log(data[log_names].shift(1))

In [140]:
# Apply min max scaling
min_max_data = pd.DataFrame(pre.minmax_scale(data[other_names], axis=0), index=data[other_names].index)
# Add column names
min_max_data.columns = other_names

In [146]:
# Append data
final_data = pd.concat([logged_data, min_max_data], axis=1).iloc[1:, :]

In [147]:
# Save DF
final_data.to_csv('final_data.csv')